<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
            font-size: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>회원가입</h2>
            <form action="/joinProcess" method="post" th:object="${user}">
                <div class="input-group">
                    <input type="text" id="username" th:field="*{username}" placeholder="닉네임" th:errorclass="field-error">
                    <div class="field-error" th:errors="${user.username}">
                        닉네임 오류
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" id="email" th:field="*{email}" placeholder="이메일" th:errorclass="field-error">
                    <div class="field-error" th:errors="${user.email}">
                        이메일 오류
                    </div>
                </div>

                <div class="input-group-password">
                    <input type="password" id="password" th:field="*{password}" placeholder="비밀번호" th:errorclass="field-error">
                    <div class="field-error" th:errors="${user.password}">
                        비밀번호 오류
                    </div>
                </div>

                <div class="checkbox-wrapper">
                    <label>
                        <input type="checkbox" id="showPasswordCheckbox"> 비밀번호 표시
                    </label>
                </div>
                <input type="submit" value="회원가입" class="join-btn"/>
            </form>
        </div>
    </div>

<script>
    document.getElementById('showPasswordCheckbox').addEventListener('change', function() {
        const passwordInput = document.getElementById('password');
        if (this.checked) {
            passwordInput.setAttribute('type', 'text');
        } else {
            passwordInput.setAttribute('type', 'password');
        }
    });
</script>
</body>
</html>

