<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>로그인</h2>
            <p>COCO에 오신 것을 환영합니다.</p>

            <form action="/loginProcess" method="post">
                <div class="input-group">
                    <input type="email" placeholder="이메일">
                </div>
                <div class="input-group password-group">
                    <input type="password" placeholder="비밀번호">
                </div>
                <div class="options">
                    <label><input type="checkbox"> 로그인 상태 유지</label>
                    <label><input type="checkbox"> 이메일 저장하기</label>
                </div>
                <input type="submit" value="로그인" class="login-btn"/>
                <input type="button" value="회원가입" class="join-btn" onclick="location.href='/join'"/>
            </form>

            <a href="#" class="forgot-password">비밀번호를 잊으셨나요?</a>

<!--            <div class="social-login">-->
<!--                <p>또는</p>-->
<!--                <div class="social-icons">-->
<!--                    <img src="google-icon.png" alt="Google" class="social-icon">-->
<!--                    <img src="/icon/kakao_login_small.png" alt="Kakao" class="social-icon">-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="footer">-->
<!--                <a href="#">이용약관</a> | <a href="#">개인정보 취급방침</a>-->
<!--                <p>&copy; Realbyte Inc.</p>-->
<!--            </div>-->
        </div>
    </div>
</body>
</html>


